
$bordercolor:#cecdcd;
$redcolor:#da4a54;
$orangecolor:#f28c00;
$yellowcolor:#ffd33c;
$gray:#f6f7f9;



        .email-switch {
        

            .email-switch_switch {
               
                //** no borrar *//
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 16px;
                    top: 5px;
                }

                
                .switch input {
                    display: none;
                }

                
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: gray;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 22px;
                    width: 22px;
                    left: 0px;
                    bottom: -3px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border: 1px solid gray;
                }

                
                input:checked+.slider {
                    background-color: $redcolor;
                }

                
                input:checked+.slider:before {
                    -webkit-transform: translateX(29px);
                    -ms-transform: translateX(29px);
                    transform: translateX(29px);
                }

                
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

            }

        }


//botones carousel//
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px !important;
    height: 20px !important;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(255, 255, 255) !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}