@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
header .header-section .container-logo img {
  width: 300px;
}

.offerscontainer .offerday_desciption p {
  font-family: 'Bebas Neue', cursive;
}

.promociones .offer_1 .offer-img img {
  position: relative;
  top: -25px;
}

.promociones .offer_2 {
  background-color: #f28c00;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promociones .offer_2 div {
  color: white;
  width: 80%;
}

.promociones .offer_2 div h2 {
  font-family: 'Bebas Neue', cursive;
  line-height: 36px;
  font-size: 40px;
}

.promociones .offer_2 div h3 {
  font-family: 'Bebas Neue', cursive;
  line-height: 2px;
  font-size: 30px;
}

.promociones .offer_3 {
  border-right: 1px solid #cecdcd;
  height: 90%;
  display: flex;
  justify-content: center;
}

.promociones .offer_3 .offer-img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promociones .offer_3 .offer-img .buy {
  position: absolute;
  width: 110px;
  height: 180px;
  background-color: #ffd33c;
  right: 18px;
  bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promociones .offer_3 .offer-img .buy .buy_price {
  width: 84%;
  height: 45%;
  background-color: white;
  margin-top: 7%;
}

.promociones .offer_3 .offer-img img {
  position: relative;
  top: -25px;
}

.promociones .offer_4 {
  height: 90%;
  display: flex;
  justify-content: center;
}

.promociones .offer_4 .offer-img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promociones .offer_4 .offer-img .buy {
  position: absolute;
  width: 110px;
  height: 200px;
  background-color: #ffd33c;
  right: 18px;
  bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promociones .offer_4 .offer-img .buy .buy_price {
  width: 100%;
  height: 65%;
  background-color: #da4a54;
}

.promociones .offer_4 .offer-img img {
  position: relative;
  top: -25px;
}

.product_recent-container .product_recent .product_recent-rll div img {
  object-fit: none;
}

.subscribe-container .email_container .email-description h1 {
  font-family: 'Bebas Neue', cursive;
}

.subscribe-container .email_container .email-input .input_email::placeholder {
  font-size: 14.5px;
}

.subscribe-container .email_container .email-switch .email-switch_switch .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 16px;
  top: 5px;
}

.subscribe-container .email_container .email-switch .email-switch_switch .switch input {
  display: none;
}

.subscribe-container .email_container .email-switch .email-switch_switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: .4s;
}

.subscribe-container .email_container .email-switch .email-switch_switch .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: -3px;
  background-color: white;
  transition: .4s;
  border: 1px solid gray;
}

.subscribe-container .email_container .email-switch .email-switch_switch input:checked + .slider {
  background-color: #da4a54;
}

.subscribe-container .email_container .email-switch .email-switch_switch input:checked + .slider:before {
  transform: translateX(29px);
}

.subscribe-container .email_container .email-switch .email-switch_switch .slider.round {
  border-radius: 34px;
}

.subscribe-container .email_container .email-switch .email-switch_switch .slider.round:before {
  border-radius: 50%;
}

.join .join_text h1 {
  font-family: 'Bebas Neue', cursive;
}

.join .join_a a {
  font-family: 'Bebas Neue', cursive;
}

.footer .footer-info div h5 {
  font-family: 'Bebas Neue', cursive;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px !important;
  height: 20px !important;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white !important;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 50%;
}
