$path-to-img: '~@merkaly/ui/packages/landkit/src/assets/img';
$path-to-fonts: '~@merkaly/ui/packages/landkit/src/assets/fonts';

$primary: #ce1638 !default;
$secondary: #a97982 !default;
$primary-desat: #ec6c6c !default;
$success: #42ba96 !default;
$info: #7c69ef !default;
$warning: #fad776 !default;
$danger: #df4759 !default;

$dark: #1b2a4e !default;
